Repository ISPP-Grupo-7/MapYourWorld, pull requests merged in 2025-04, with the labels that each got.

#288 Feature/frontend mejorar logros
  frontend/mobile/src/components/Achievements/UserAchievementsScreen.tsx
  frontend/mobile/src/components/Achievements/UserAchievementsScreen.web.tsx
  frontend/mobile/src/components/UI/Alert.tsx
Labels: enhancement, web, mobile

#304 fix: Arreglar tests de subscription
  backend/payment-service/tests/subscription.test.ts
Labels: unit test

#302 Social-service/Friend: Test de integración
  backend/social-service/src/controllers/friend.controller.ts
  backend/social-service/src/index.ts
  backend/social-service/src/routes/friend.routes.ts
  backend/social-service/src/tests/friend.integration.test.ts
  backend/social-service/src/tests/photo.integration.test.ts
Labels: integration test

#318 Implementación anuncios aplicación en Registro
  CHANGELOG.md
  Documentación/Sprint-2(S2)/7-CHANGELOG.md
  frontend/mobile/src/assets/ads/anuncio1.webp
  frontend/mobile/src/assets/ads/anuncio2.webp
  frontend/mobile/src/assets/ads/anuncio3.webp
  frontend/mobile/src/assets/ads/anuncio4.webp
  frontend/mobile/src/assets/ads/anuncio5.webp
  frontend/mobile/src/assets/ads/anuncio6.webp
  frontend/mobile/src/assets/ads/anuncio7.webp
  frontend/mobile/src/components/Ads/StaticAd.tsx
  frontend/mobile/src/components/Ads/StaticAd.web.tsx
  frontend/mobile/src/components/screens/RegisterScreen.tsx
  frontend/mobile/src/components/screens/RegisterScreen.web.tsx
Labels: enhancement, web
